* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Stargeek/img/fundo\ login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cl {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 400px;
    margin: 115px auto;
    padding: 7px 9px 11px 13px;
    border: 3px solid rgb(119, 119, 119);
    height: 550px;
    display: flex;
}

.lg {
    width: 150px;
    margin-top: 0 auto;
    padding: 7px 9px 11px 13px;
    display: flex;
}